.cold-box {
    background-color: blue;
    min-width: 40px;
    max-width: 80px;
    min-height: 60px;
  }
  
  .hot-box {
    background-color: red;
    min-width: 40px;
    max-width: 80px;
    min-height: 60px;
  }